<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="round-rect centered login">
      <h1 class="centered">log-in</h1><br>
      <input type="text" name="username" placeholder="username"> <br> <br>
      <input type="text" name="password" placeholder="password">
    </form>
  </body>
</html>
