<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="round-rect centered login">
      <h1 class="centered">log-in</h1>
      <form>
        <input type="text" name="username" placeholder="username"><br>
        <input type="text" name="password" placeholder="password"><br>
        <button type="submit" id="submit">log in</button>
      </form>
      <a href="/newacc">create account</a><br>
      <a href="/">forgot password?</a>
    </div>
  </body>
</html>
