@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
  padding: 50px;
  background: #eee;
}

a {
  color: #00B7FF;
}

.round-rect {
  background: #ffdbf4;
  border-radius: 10px;
}

.login {
  width: 500px;
  height: 500px;
  top: 100px;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.login > h1 {
  /*color: #686f7a;*/
  font: 32px 'Roboto', sans-serif;
  padding-top: 50px;
  color: #4d4d4d;
  font-weight: 100;
}

.login > input {
  border: none;
  background: #eee;
  border-radius: 5px;
  color: #4d4d4d;
  padding-left: 10px;
  font: 14px 'Roboto', sans-serif;
  height: 80px;
}

.login > input:focus {
  outline: none;
  color: #4d4d4d;
}