@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
  padding: 50px;
  background: #eee;
}

a {
  text-decoration: none;
}

.round-rect {
  background: #ffdede;
  border-radius: 10px;
}

.login {
  width: 500px;
  height: auto;
  top: 100px;
  padding: 50px 0;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.login > h1 {
  /*color: #686f7a;*/
  font: 32px 'Roboto', sans-serif;
  color: #4d4d4d;
  font-weight: 100;
}

.login > form > input, .login > form > button {
  border: none;
  background: #eee;
  border-radius: 5px;
  color: #4d4d4d;
  padding-left: 10px;
  font: 14px 'Roboto', sans-serif;
  margin-top: 10px;
  height: 60px;
}

.login > form > input:focus, .login > form > button:focus {
  outline: none;
  color: #4d4d4d;
}

.login > a {
  color: #4d4d4d;
  font: 14px 'Roboto', sans-serif;
}

.login > form {
  margin: 20px 0;
}

.main {
  width: auto;
  height: auto;
}